:root {
  --bg-color: #f9f7f7;
  --text-color: #112d4e;
  --accent-color: #3f72af;
  --accent-hover-color: #164b60;
  --secondary-color: #dbe2ef;
}

@font-face {
  font-family: "Space Grotesk";
  src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-hover-color);
  text-decoration: underline solid 2px;
}
a:active {
  color: var(--accent-hover-color);
  text-decoration: underline solid 2px;
}
a:visited {
  text-decoration: none;
  color: var(--accent-color);
}
input {
  border-radius: 5px;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  height: 2rem;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid var(--accent-color);
}
button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  border: none;
  padding: 0.25rem;
  border-radius: 15px;
  cursor: pointer;
}
button:hover {
  background-color: var(--accent-hover-color);
}
button:active {
  background-color: var(--accent-hover-color);
}
.main__loading {
  display: flex;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.main__loading img {
  transition: all 1s ease-in-out;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
}