.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90dvw;
  gap: 0.75rem;
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding: 2rem 0 1rem 0;
  position: relative;
}
.main__button-container {
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
}
.main__input-output {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 75%;
}
.main__submit {
  width: 45%;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--bg-color);
  border: none;
  padding: 0.25rem;
  border-radius: 15px;
}
.main__copy-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
